@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;500;600&display=swap');
:root{
	--header-bg: linear-gradient(to right,#404e67 0,#6f85ad 100%);
	--header-bottom: 1px solid #8596b5;
	--box-one:linear-gradient(to right,#008385 0,#00e7eb 100%);
	--box-two:linear-gradient(to right,#ff864a 0,#ffcab0 100%);
	--box-three:linear-gradient(to right,#ff425c 0,#ffa8b4 100%);
	--box-four:linear-gradient(to right,#11a578 0,#32eab2 100%);
	--bg-purple: #9c27b0;
	--primary-text-color: #404e67;
	--second-text-color: #626e82;
	--font-open: 'Open Sans', sans-serif;
	--font-mons: 'Montserrat', sans-serif;
	--home-bg: #F4F6F9;
}
*{
	padding: 0px;
	margin: 0px;
}

body{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-image: var(--header-bg);
	border-bottom: var(--header-bottom);
}
.header .left , .header .right{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 25%;
	color: white;
}
.header .logo img{
	width: 50px;
}
header input{
	display: none;
	transition: .3s;
}
.header .left label{
	color: white;
	cursor: pointer;
}
.header .left .check{
	font-size: 20px;
	font-family: var(--font-mons);
	font-weight: 400;
	margin: 0px;
	padding: 0px; 
}
.header .left .admin{
	font-size: 14px;
	font-family: var(--font-mons);
	font-weight: 400; 
	margin: 0px;
	padding: 0px;
}
.header .left a{
	text-decoration: none;
}

.header .left .pos a{
	background-color: #16d39a;
	font-size: 16px;
	padding: 10px 15px;
	border-radius: 20px;
	color: white;
	margin: 0px;
	transition: .3s;
}
.header .left .pos a:hover{
	background-color: #15fdb7;
}

.header .right .name , 
.header .right .notification , .header .right .time , 
.header .right .message {
	font-size: 14px;
	font-family: var(--font-mons);
	font-weight: 400; 
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}
header .bottom-menu{
	background-color: white;
	padding: 10px 20px;
	box-shadow: 2px 4px 20px -4px rgb(0 0 0 / 10%);
}
header .bottom-menu ul{
	margin: 0px;
	padding: 0px;
}
header .bottom-menu ul li{
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
}
header .bottom-menu ul li a{
	display: block;
	text-decoration: none;
	padding: 5px 5px;
	color: var(--second-text-color);
	transition: .3s;
}
header .bottom-menu ul li a:hover{
	background-color: #16d39a;
	color: white;
}

header input#check:checked ~ .bottom-menu ul li span{
	display: none;
}

header .admn-setting .all-menu{
	position: absolute;
	background-color: white;
	overflow: hidden;
	width: 98%;
	left: 1%;
	top: 10.5%;
	display: flex;
    flex-wrap: wrap;
    padding: 20px 30px;
    color: var(--second-text-color);
    box-shadow: 2px 4px 20px -4px rgb(0 0 0 / 10%);
}
header .admn-setting .admin-menu{
	display: none;
}
header input#admin:checked ~  .admin-menu{
	display: block;
}
header .admn-setting .all-menu ul{
	margin: 0px;
	padding: 0px;
	width: 25%!important;
	margin-bottom: 20px;
}
header .admn-setting .all-menu ul li{
	display: block;
	list-style-type: none;
	margin-bottom: 5px;
}
header .admn-setting .all-menu ul li p{
	border-bottom: 1px solid #80808038;
	width: 85%;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
header .admn-setting .all-menu ul li a{
	text-decoration: none;
	color: var(--second-text-color); 
}

header .right .language label{
	font-size: 14px;
	font-family: var(--font-mons);
	font-weight: 400; 
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}
header .right .language .language-menu{
	position: absolute;
	width:30%;
	background-color: white;
	padding: 10px;
	left: 68%;
	top: 10.5%;
	box-shadow: 2px 4px 20px -4px rgb(0 0 0 / 10%);
	display: none;
}
header .right .language .language-menu ul{
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
}
header .right .language .language-menu ul li{
	min-width: 25%;
	list-style-type: none;
	text-align: center;
	margin-bottom: 5px;
	padding: 5px;
}
header .right .language .language-menu ul li a{
	text-decoration: none;
	display: block;
	color: var(--second-text-color);
	font-size: 14px;
	font-weight: 400;
	font-family: var(--font-mons);
	border-bottom: 1px solid #80808038; 
}
header input#language:checked ~ .language-menu{
	display: block;
}
header .user{
	width: 32%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .user img{
	width: 30px;
}
header .user label{
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}
header .user ul.myaccount{
	display: none;
	position: absolute;
	margin: 0px;
	width: 15%;
	left: 84%;
	top: 9.7%;
	background-color: white;
	box-shadow: 2px 4px 20px -4px rgb(0 0 0 / 10%);
}
header .user ul li{
	list-style-type: none;
	display: block;
	border-bottom: 1px solid #80808038;
}
header .user ul li:last-child{
	border-bottom: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
header .user ul li a{
	display: block;
	text-decoration: none;
	color: var(--name);
	font-family: var(--font-mons);
	color: var(--second-text-color); 
	font-weight: 400;
	font-size: 14px;
	padding: 5px 15px;
	transition: .3s;
}
header .user ul a:hover{
	background-color: #80808038;
}
header input#user:checked ~ ul.myaccount{
	display: block;
}
header .notification i{
	position: relative;
}
header .notification span{
	background-color: #f33838;
	color: white;
	position: absolute;
	border-radius: 20px;
	padding: 1px 4px;
	left: 0;
	top: -6px;
	font-size: 10px;
}

header .message{
	position: relative;
}
header .message span{
	background-color: #f33838;
	color: white;
	position: absolute;
	border-radius: 20px;
	padding: 1px 4px;
	left: 0;
	top: -5px;
	font-size: 10px;
}
header .time{
	position: relative;
}
header .time span{
	background-color: #f33838;
	color: white;
	position: absolute;
	border-radius: 20px;
	padding: 1px 4px;
	left: 0;
	top: -5px;
	font-size: 10px;
}
header .notification ul.notifation-menu{
	position: absolute;
	display: none;
	top: 9.7%;
	width: 25%;
	left: 65%;
	background-color: white;
	box-shadow: 2px 4px 20px -4px rgb(0 0 0 / 10%);
}
header .notification ul.notifation-menu li{
	list-style-type: none;
	display: block;
	border-bottom: 1px solid #80808038;
}
header .notification ul.notifation-menu li a{
	text-decoration: none;
	display: block;
	padding: 10px 20px;
}
header .notification ul.notifation-menu li a .all-content{
	display: flex;
	align-items: center;
}
header .notification ul.notifation-menu li a .all-content .icon{
	
}
header .notification ul.notifation-menu li a .all-content .icon i{
	font-size: 40px;
	background-color: #16d39a;
	color: white;
	border-radius:30px;
	padding: 8px 10px;
	margin: 10px;
}
header .notification ul.notifation-menu li a .all-content .content h4{
	font-size: 14px;
	margin: 0px; 
	padding: 0px; 
	font-family: var(--font-mons);
}
header .notification ul.notifation-menu li a .all-content .content p{
	font-size: 10px;
	margin: 0px; 
	padding: 0px; 
	font-family: var(--font-mons);
}
header .notification ul.notifation-menu li a .all-content .content small{
	font-size: 10px;
	margin: 0px; 
	padding: 0px; 
	font-family: var(--font-mons);
	color: gray;
}
header .notification ul.notifation-menu li:last-child{
	text-align: center;
	color: gray;
}
header .notification label{
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}
header .notification input#notification:checked ~ .notifation-menu{
	display: block;
}
.home{
	padding: 20px 20px;
	background-color: var(--home-bg);
}
.home .box-section{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.home .box-section .box-one{
	background-image: var(--box-one);
	width: 24%;
	padding: 20px;
	display: flex;
	color: white;
	align-items: center;
}
.home .box-section .box-two{
	background-image: var(--box-two);
	width: 24%;
	padding: 20px;
	display: flex;
	color: white;
	align-items: center;
}
.home .box-section .box-three{
	background-image: var(--box-three);
	width: 24%;
	padding: 20px;
	display: flex;
	color: white;
	align-items: center;
}
.home .box-section .box-four{
	background-image: var(--box-four);
	width: 24%;
	padding: 20px;
	display: flex;
	color: white;
	align-items: center;
}
.home .box-section .icon{
	margin-right: 20px;
}
.home .box-section .icon i{
	font-size: 60px;
}
.home .box-section .box-one .content{}
.home .box-section .content h5{
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	font-weight: 600;
	font-family: var(--font-mons);
}
.home .box-section .content p{
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-weight: 400;
	font-family: var(--font-mons);
}
.home .chart-section{
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
}
.home .chart-section .left{
	width: 60%;
	background-color: white;
	padding: 20px;
}
.home .chart-section .right{
	width: 35%;
	background-color: white;
	padding: 20px;
}
.home .top-section{
	display: flex;
	justify-content: space-between;
}
.home .top-section p{
	font-size: 18px;
	font-family: var(--font-mons);
	font-weight: 500;
}
.home .icon-section{}
.home .icon-section ul{
	margin: 0px;
	padding: 0px;
}
.home .icon-section ul li{
	list-style-type: none;
	display: inline-block;
}
.home .icon-section ul li a{
	display: block;
	font-size: 16px;
}
.home .chart-section .right p{
	font-size: 18px;
	font-family: var(--font-mons);
	font-weight: 500;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.home .chart-section .right p.myp{
	font-size: 14px;
}
.home .chart-section .right h3{
	font-size: 14px;
	font-weight: 400;
	font-family: var(--font-mons);
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.home .chart-section .right h4{
	font-size: 14px;
    text-align: center;
    font-family: var(--font-mons);
}
.home .chart-section .right h4 span{
	padding: 2px 5px;
	border-radius: 5px;
	color: white;
}

.home .chart-section .right h4 span.one{
	background-color: #FFA0B4;
}
.home .chart-section .right h4 span.two{
	background-color: #82CDFF;
}
.home .chart-section .right .icome-expenses{
	display: flex;
	justify-content: space-around;
}
.home .chart-section .right .icome-expenses p{
	font-size: 25px;
	font-weight: 500;
	font-family: var(--font-mons);
}
.home .chart-section .right .icome-expenses span{
	font-size: 15px;
	font-weight: 400;
	font-family: var(--font-mons);
}
.home .chart-section .right .expenses{}