@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;500;600&display=swap');
:root{
	--header-bg: linear-gradient(to right,#404e67 0,#6f85ad 100%);
	--header-bottom: 1px solid #8596b5;
	--box-one:linear-gradient(to right,#008385 0,#00e7eb 100%);
	--box-two:linear-gradient(to right,#ff864a 0,#ffcab0 100%);
	--box-three:linear-gradient(to right,#ff425c 0,#ffa8b4 100%);
	--box-four:linear-gradient(to right,#11a578 0,#32eab2 100%);
	--bg-purple: #9c27b0;
	--primary-text-color: #404e67;
	--second-text-color: #626e82;
	--font-open: 'Open Sans', sans-serif;
	--font-mons: 'Montserrat', sans-serif;
}
*{
	padding: 0px;
	margin: 0px;
}

body{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-image: var(--header-bg);
	border-bottom: var(--header-bottom);
}
.header .left , .header .right{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 25%;
	color: white;
}
.header .logo img{
	width: 50px;
}
.header .left input{
	display: none;
}
.header .left label{
	color: white;
	cursor: pointer;
}
.header .left .check{
	font-size: 20px;
	font-family: var(--font-mons);
	font-weight: 400;
	margin: 0px;
	padding: 0px; 
}
.header .left .admin{
	font-size: 14px;
	font-family: var(--font-mons);
	font-weight: 400; 
	margin: 0px;
	padding: 0px;
}
.header .left a{
	text-decoration: none;
}

.header .left .pos a{
	background-color: #16d39a;
	font-size: 16px;
	padding: 10px 15px;
	border-radius: 20px;
	color: white;
	margin: 0px;
	transition: .3s;
}
.header .left .pos a:hover{
	background-color: #15fdb7;
}



.header .right .language p, .header .right .name , 
.header .right .notification , .header .right .time , 
.header .right .message {
	font-size: 14px;
	font-family: var(--font-mons);
	font-weight: 400; 
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}
header .bottom-menu{
	background-color: white;
	padding: 10px 20px;
	box-shadow: 2px 4px 20px -4px rgb(0 0 0 / 10%);
}
header .bottom-menu ul{
	margin: 0px;
	padding: 0px;
}
header .bottom-menu ul li{
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
}
header .bottom-menu ul li a{
	display: block;
	text-decoration: none;
	padding: 5px 5px;
	color: var(--second-text-color);
	transition: .3s;
}
header .bottom-menu ul li a:hover{
	background-color: #16d39a;
	color: white;
}